<!doctype html>
<html lang="{{ site:short_locale }}">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ settings:description }}">
    <meta name="robots" content="index,follow">
    <meta name="author" content="Niels-Jonas Simons">
    <title>Niels-Jonas – portfolio | video | foto | gestaltung | köln</title>
    <link rel="apple-touch-icon" sizes="57x57" href="/assets/meta/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/assets/meta/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/assets/meta/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/assets/meta/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/assets/meta/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/assets/meta/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/assets/meta/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/assets/meta/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/meta/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/assets/meta/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/meta/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/assets/meta/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/meta/favicon/favicon-16x16.png">
    <link rel="manifest" href="manifest.json">
    <meta name="msapplication-TileColor" content="#f2f2f2">
    <meta name="msapplication-TileImage" content="/assets/meta/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#3a3a3a">
    <meta property="og:title" content="Niels-Jonas Simons" />
    <meta property="og:description" content="{{ settings:description }}">
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://njonassimons.de/" />
    <meta property="og:image" content="https://njonassimons.de/og-image.png" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">

    <link rel="stylesheet" href="{{ mix src='vendor/app/css/app.css' }}">
</head>

<body>
    {{ partial:_header }}
    <main class="main">
        {{ template_content }}
    </main>
    <script src="{{ mix src='/js/site.js' }}"></script>
</body>

</html>
