<li class="card card--fade">
    <a class="card__link" href="{{ slug }}">
        <figure class="card__figure">
            <img class="card__image card__image--lazy" data-srcwebp="{{ project_image }}" data-src="{{ project_image }}"
                src="{{ project_image }}" alt="{{ project_image }}">
            <figcaption class="card__figcaption">
                <h3 class="card__title">{{ title }}</h3>
                <p class="card__category">{{ subtitle }}</p>
            </figcaption>
        </figure>
    </a>
</li>
