<section class="section">
    {{ grid }}

    {{ if video | is_empty }}
    <div class="grid grid--{{ image | length }}">
        <!-- {{ glide:image fit="crop_focal"}} -->
        <img class="card__image" src="{{ url }}" alt="{{ alt }}">
        <!-- {{ /glide:image }} -->
    </div>

    {{ else }}
    {{ video | dump }}
    {{ partial:projects/video }}
    {{ /video }}

    {{ /if }}
    {{ /grid }}

    {{ content }}
    <article class="article article--description">
        <p>{{ taxonomy_terms }}{{ title }}{{ if !last }} | {{ /if }}{{ /taxonomy_terms }}</p>
    </article>
</section>
