.aside--path {
  font-family: Lato;
  font-style: italic;
  font-size: 1.5rem;
  position: absolute;
  top: 90px;
  left: 25px;
  transform: rotate(-90deg) translateX(-100%);
  transform-origin: 0 50%;

  @include breakpoint('m') {
    font-size: 1.25rem;
    left: -25px;
  }
}

.aside--about {
  @include breakpoint('m') {
    width: 75%;
  }
}

.aside--mobile-hidden {
  display: none;

  @include breakpoint('m') {
    display: block;
  }
}

.aside__title {
  font-style: italic;
  font-weight: normal;
}
