.button {
  font-family: 'Inconsolata';
  text-decoration: none;
  position: relative;
  width: 100%;
  border: 1px solid;
  background-color: var(--color-secondary);
  color: var(--color-bright);
  padding: 8px;
  font-size: 1rem;
  cursor: pointer;
  z-index: 0;
}

.button::before {
  content: '';
  position: absolute;
  filter: brightness(25%);
//   background-color: lighten(var(--color-secondary), 25%);
  top: 0;
  bottom: 0;
  left: 0;
  width: 0;
  transition: width 200ms $cubic-bezier;
  z-index: -1;
}

.button:hover::before {
  width: 100%;
}

.button--cookie {
  display: block;
  text-align: center;
  border: none;
  background-color: var(--color-primary);
  color: var(--color-secondary);
}
