.collection {
  display: grid;
  grid-gap: 30px;
  padding-bottom: 50px;

  @include breakpoint('m') {
    padding-top: 50px;
    grid-template-columns: repeat(2, 1fr);
  }

  @include breakpoint('l') {
    grid-template-columns: repeat(3, 1fr);
  }

  @include breakpoint('xl') {
    grid-template-columns: repeat(4, 1fr);
  }
}
