.footer {
  background-color: $color-primary;
  width: 100%;
}

.footer__inner {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-top: 15px;
  padding-bottom: 15px;

  @include width-default;
}

.footer__inner::before,
.footer__inner::after {
  @include breakpoint('m') {
    content: '';
    position: absolute;
    background-color: $color-secondary;
    width: 1px;
    top: 0;
    bottom: 50%;
  }
}

.footer__inner::before {
  left: 0;
}

.footer__inner::after {
  right: 0;
}

.footer__border {
  @include breakpoint('m') {
    position: absolute;
    height: 1px;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    background-color: $color-secondary;
  }
}
