.grid {
    display: grid;
    grid-gap: 15px;
    margin-bottom: 15px;
}

.grid--1,
.grid--2,
.grid--3,
.grid--4,
.grid--5 {
    grid-template-columns: repeat(1, 1fr);
}

@include breakpoint('m') {
    .grid--1 {
        grid-template-columns: repeat(1, 1fr);
    }

    .grid--2 {
        grid-template-columns: repeat(2, 1fr);
    }

    .grid--3 {
        grid-template-columns: repeat(3, 1fr);
    }

    .grid--4 {
        grid-template-columns: repeat(4, 1fr);
    }

    .grid--5 {
        grid-template-columns: repeat(5, 1fr);
    }
}
