.header {
  position: fixed;
  width: 100%;
  z-index: 2;
  background-color: var(--color-primary);
}

.header__inner {
  padding: 5px 35px 0;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;

//   @include width-default(90%);

  @include breakpoint('m') {
    position: relative;

    // @include width-default;
  }
}

.header__aside {
}
