.icon--logo {
  height: 23px;
  vertical-align: middle;
}

.icon--social {
  height: 25px;

  @include breakpoint ('l') {
    height: 22px;
  }
}

.icon__path {
  stroke-miterlimit: 10;
  transition: fill 400ms $cubic-bezier, stroke 400ms $cubic-bezier;
}

.icon__path--logo {
  fill: $color-secondary;
}

.icon__path--inline {
  display: inline;
}

.icon__path--linkedin,
.icon__path--crew-united {
  fill: $color-secondary;
  stroke: $color-secondary;
}

.icon__path--xing,
.icon__path--vimeo,
.icon__path--mail-lid,
.icon__path--instagram-camera {
  fill: $color-secondary;
}

.icon__path--mail-letter {
  stroke: $color-bright;
  fill: $color-secondary;
}

.icon__path--instagram-lens {
  fill: $color-bright;
}
