.navigation {
  font-family: 'Inconsolata', monospace;
  text-transform: lowercase;
  display: none;
}

.navigation__list {
  display: flex;
}

@include breakpoint('m') {
    .navigation {
        display: block;
    }
}
