<header class="header">
  <div class="hamburger" onclick="this.classList.toggle('hamburger--activated'); document.querySelector('.navigation').classList.toggle('navigation--visible');">
    <span class="hamburger__inner"></span>
  </div>
  <h1 class="logo">
    <a href="{{ '/' | relative_url }}" class="logo__link">{{ site.title }}</a>
  </h1>
  <nav class="navigation">
    <ul class="navigation__list">
      {% for item in site.data.navigation %}
      <li class="navigation__list-item">
        <a href="{{ item.url | relative_url }}" class="link link--navigation"><span>{{ item.title }}</span></a>
      </li>
      {% endfor %}
    </ul>
  </nav>
</header>
