@keyframes drawLineHorizontally {
  0% {
    width: 0;
  }

  50% {
    width: 0;
  }

  100% {
    width: 30px;
  }
}

@keyframes drawBorderVertically {
  0% {
    height: 0;
  }

  30% {
    height: 45%;
  }

  75% {
    height: 90%;
  }

  100% {
    height: 100%;
  }
}

@keyframes drawBorderHorizontally {
  0% {
    width: 0;
  }

  30% {
    width: 45%;
  }

  75% {
    width: 90%;
  }

  100% {
    width: 100%;
  }
}

@keyframes fadeTranslate {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }

  25% {
    opacity: 0;
    transform: translateY(-50px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes scale-up-tl {
  0% {
    transform: scale(0.5);
    transform-origin: 0% 0%;
    opacity: 0;
  }

  40% {
    opacity: 0;
  }

  100% {
    transform: scale(1);
    transform-origin: 0% 0%;
    opacity: 1;
  }
}

@keyframes scale-in-hor-left {
  0% {
    transform: scaleX(0);
    transform-origin: 0% 0%;
    opacity: 1;
  }

  100% {
    transform: scaleX(1);
    transform-origin: 0% 0%;
    opacity: 1;
  }
}

@keyframes scale-in-ver-top {
  0% {
    transform: scaleY(0);
    transform-origin: 0% 0%;
    opacity: 1;
  }

  100% {
    transform: scaleY(1);
    transform-origin: 0% 0%;
    opacity: 1;
  }
}

@keyframes scale-in-ver-bot {
  0% {
    transform: scaleY(0);
    transform-origin: 0% 100%;
    opacity: 1;
  }

  100% {
    transform: scaleY(1);
    transform-origin: 0% 100%;
    opacity: 1;
  }
}
