@font-face {
  font-family: 'GT America';
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  src:
    url('../fonts/gtamerica/gt-america-expanded-regular-trial.woff2');
}

@font-face {
  font-family: 'GT America';
  font-display: swap;
  font-style: normal;
  font-weight: 500;
  src:
    url('../fonts/gtamerica/gt-america-extended-medium-trial.woff2');
}

@font-face {
  font-family: 'Lato';
  font-display: swap;
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/lato/lato-black.eot?#iefix');
  src:
    url('../fonts/lato/lato-black.eot?#iefix') format('eot'),
    url('../fonts/lato/lato-black.woff2') format('woff2'),
    url('../fonts/lato/lato-black.woff') format('woff');
}

@font-face {
  font-family: 'Lato';
  font-display: swap;
  font-style: italic;
  font-weight: 700;
  src: url('../fonts/lato/lato-bold-italic.eot?#iefix');
  src:
    url('../fonts/lato/lato-bold-italic.eot?#iefix') format('eot'),
    url('../fonts/lato/lato-bold-italic.woff2') format('woff2'),
    url('../fonts/lato/lato-bold-italic.woff') format('woff');
}

@font-face {
  font-family: 'Lato';
  font-display: swap;
  font-style: italic;
  font-weight: 300;
  src: url('../fonts/lato/lato-light-italic.eot?#iefix');
  src:
    url('../fonts/lato/lato-light-italic.eot?#iefix') format('eot'),
    url('../fonts/lato/lato-light-italic.woff2') format('woff2'),
    url('../fonts/lato/lato-light-italic.woff') format('woff');
}

@font-face {
  font-family: 'CutiveMono';
  font-display: swap;
  font-style: normal;
  src:
    url('../fonts/cutivemono/cutivemono-regular.woff2') format('woff2'),
    url('../fonts/cutivemono/cutivemono-regular.woff') format('woff');
}

@font-face {
  font-family: 'Inconsolata';
  font-display: swap;
  font-style: normal;
  src: url('../fonts/inconsolata/inconsolata-regular.eot?#iefix');
  src:
    url('../fonts/inconsolata/inconsolata-regular.eot?#iefix') format('eot'),
    url('../fonts/inconsolata/inconsolata-regular.woff2') format('woff2'),
    url('../fonts/inconsolata/inconsolata-regular.woff') format('woff');
}
