<header class="header" data-controller="header">
  <div class="hamburger" data-header-target="hamburger" data-action="click->header#toggle">
      <span class="hamburger__inner"></span>
  </div>
  <h1 class="logo">
    <%= render "default/shared/link", locals: { link_href: "/", link_name: current_account.name, class_name: "link--logo" } %>
  </h1>
  <%= render "default/shared/navigation" %>
</header>
