<nav class="navigation" data-header-target="navigation">
  <ul class="navigation__list">
  <% Spina::Navigation.all.find { |nav| nav.name.eql?("main") }.pages.each do |page| %>
    <li class="navigation__list-item">
      <a href="/<%= page.slug == "portfolio" ? "" : page.slug %>" class="link"><%= page.menu_title %></a>
    </li>
  <% end %>
  </ul>
</nav>
