.card {
  width: 100%;
  position: relative;
}

.card--fade {
  animation: scale-up-tl 1s var(--cubic-bezier-card) both;
}

.card__figure {
  display: block;
  position: relative;
  overflow: hidden;
}

.card__image {
  aspect-ratio: 16 / 9;
  width: 100%;
  object-fit: cover;
}

.card__figcaption {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  visibility: hidden;
  transition: opacity 500ms var(--cubic-bezier), visibility 500ms var(--cubic-bezier);
  text-align: center;
}

.card:hover .card__figcaption {
  opacity: 1;
  visibility: visible;
}

.card__title {
  opacity: 0;
  visibility: hidden;
  transition: opacity 300ms var(--cubic-bezier);
  margin-top: -15px;
  font-size: 1.35rem;
  padding-top: 25px;
}

.card__category {
  opacity: 0;
  visibility: hidden;
  transition: opacity 300ms var(--cubic-bezier);
  font-size: 0.85rem;
  padding-top: 50px;
}

.card__figure:hover .card__title,
.card__figure:hover .card__category {
  opacity: 1;
  visibility: visible;
}
