.card-container {
  display: grid;
  grid-template-columns: 1fr;
  place-items: start;
  list-style-type: none;
}

@media all and (min-width: 750px) {
  .card-container {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 25px;
    grid-row-gap: 25px;
  }
}

@media all and (min-width: 1271px) {
  .card-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
