.hamburger {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 25px;
  cursor: pointer;
  z-index: 2;
}

@media all and (min-width: 750px) {
  .hamburger {
    display: none;
  }
}

.hamburger__inner {
  top: 50%;
  transform: translateY(calc(-50% - 4px));
  transition: transform 300ms var(--cubic-bezier);
  animation: drawLineHorizontally 700ms var(--cubic-bezier);
}

.hamburger__inner,
.hamburger__inner::before {
  position: absolute;
  left: 0;
  width: 25px;
  height: 1px;
  background-color: var(--color-secondary);
}

.hamburger__inner::before {
  content: '';
}

.hamburger__inner::before {
  top: 8px;
  animation: drawLineHorizontally 500ms var(--cubic-bezier);
}

.hamburger--activated .hamburger__inner {
  transform: rotate(90deg);
}
