.navigation {
  font-size: var(--font-size-medium);
  display: none;
}

@media all and (max-width: 750px) {
  .navigation--visible {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: white;
    z-index: 1;
    display: block;
    padding: 0 2em 4em 0;
  }

  .navigation--visible .navigation__list {
    text-align: right;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0 2em 4em 0;
  }

  .navigation--visible .navigation__list-item {
    padding: 2em;
  }
}

@media all and (min-width: 750px) {
  .navigation {
    display: block;
  }

  .navigation__list {
    display: flex;
  }

  .navigation__list-item {
    display: flex;
    margin: 0 2em;
  }
}
