.richtext {
  font-size: var(--font-size-medium);
  line-height: 1.25;
}

.richtext h1 {
  font-weight: bold;
  margin-bottom: 1em;
}

.richtext strong {
  font-weight: bold;
}

.richtext em {
  font-style: italic;
}
