.video {
  position: relative;
  padding-top: 56.25%;
  cursor: pointer;
  overflow: hidden;
  background-color: var(--color-primary);
}

.video--margin-bottom {
  margin-bottom: 2em;
}

.video + .video {
  margin-top: 0.5em;
}

.video__player {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
