/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require reset.css
 *= require_tree .
 *= require_self
*/

:root {
  --color-bright: #ffffff;
  --color-dark: #000000;
  --color-primary: #f2f2f2;
  --color-secondary: #3a3a3a;
  --color-success: #155724;
  --color-success-light: #d4edda;
  --color-danger: #721c24;
  --color-linkedin: #1478b0;
  --color-vimeo: #16272c;
  --color-xing-left: #146565;
  --color-xing-right: #acd344;
  --color-instagram: #d42771;

  --cubic-bezier: cubic-bezier(0.2, 0.3, 0.3, 0.8);
  --cubic-bezier-card: cubic-bezier(0.39, 0.575, 0.565, 1);
  --cubic-bezier-ease-in-out-quint: cubic-bezier(0.86, 0, 0.07, 1);

  --breakpoint-s: 400px;
  --breakpoint-m: 750px;
  --breakpoint-l: 1000px;
  --breakpoint-xl: 1271px;

  --font-size-small: 0.85rem;
  --font-size-medium: 1.25rem;
  --font-size-large: 1.85rem;
}

@font-face {
  font-family: "GT America";
  font-display: swap;
  font-weight: 700;
  src: url("/assets/GT-America-Expanded-Regular.ttf");
  src:
    url("/assets/GT-America-Expanded-Regular.woff2") format("woff2"),
    url("/assets/GT-America-Expanded-Regular.woff") format("woff"),
    url("/assets/GT-America-Expanded-Regular.otf") format("otf");
}

@font-face {
  font-family: "GT America";
  font-display: swap;
  font-weight: 800;
  src: url("/assets/GT-America-Expanded-Medium.ttf");
  src:
    url("/assets/GT-America-Expanded-Medium.woff2") format("woff2"),
    url("/assets/GT-America-Expanded-Medium.woff") format("woff"),
    url("/assets/GT-America-Expanded-Medium.otf") format("otf");
}

html {
  font-size: 16px;
  font-family: "GT America", sans-serif;
}

body {
  width: 98%;
  margin: 0 auto;
  animation: fadein 1s var(--cubic-bezier);
}

@keyframes drawLineHorizontally {
  0% {
    width: 0;
  }

  50% {
    width: 0;
  }

  100% {
    width: 30px;
  }
}

@keyframes fadein {
  0% { opacity: 0; }
  35% { opacity: 0; }
  100%   { opacity: 1; }
}

/* $breakpoints: (
'xl': (min-width: $breakpoint-xl),
'l': (min-width: $breakpoint-l),
'm': (min-width: $breakpoint-m),
's': (min-width: $breakpoint-s)
); */
