---
layout: default
---
<article class="article">
  <section>
    {% for media in page.media %}
      {% if media.type == "video" %}
        {% include video.html platform=media.platform id=media.id format=media.format %}
      {% elsif media.type == "image" %}
        {% assign webp_path = media.src | split: '.' | first | append: '.webp' | replace: '/assets/images/', '/assets/webp/' %}
        <picture>
          <source srcset="{{ webp_path | relative_url }}" type="image/webp">
          <img class="image image--margin-bottom" src="{{ media.src | relative_url }}" alt="{{ media.alt | default: page.title }}" loading="lazy" decoding="async">
        </picture>
      {% endif %}
    {% endfor %}
  </section>
  <section class="richtext">
    {{ content }}
  </section>
</article>
