<li class="card card--fade">
    <a class="card__link" href="<%= project.slug %>">
        <figure class="card__figure">
            <%= project.content.image_tag(:thumbnail, {}, {class: "card__image", loading: "lazy"}) %>
            <figcaption class="card__figcaption">
                <h3 class="card__title"><%= project.title %></h3>
                <% unless project.content(:subtitle).empty? %>
                    <p class="card__category"><%= project.content(:subtitle) %></p>
                <% end %>
            </figcaption>
        </figure>
    </a>
</li>
