<% video_platform = video.content(:video_platform_option).downcase %>
<% video_id = video.content(:video_id) %>

<div class="video">
  <% if video_platform.eql?("youtube") %>
    <% video_url = "https://www.youtube.com/embed/#{video_id}" %>
    <iframe class="video__player" width="1920" height="1080" data-src="<%= video_url %>" frameborder="0" allow="encrypted-media" allowfullscreen></iframe>
  <% else %>
    <% video_url = "https://player.vimeo.com/video/#{video_id}?autoplay=0&color=283c46&title=0&byline=0&portrait=0" %>
    <iframe class="video__player" width="1920" height="1080" data-src="<%= video_url %>" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  <% end %>
</div>
