<% pages = Spina::Resource.find_by(name: "blog_posts").pages.reject(&:draft) %>
<% page = pages.sample %>
<% content = page.content(:content) %>
<% content_type = content.content_type %>
<% image = Spina::Parts::Image.new %>
<% image.image_id = content.image_id %>
<% image.signed_blob_id = content.signed_blob_id %>
<% image.alt = content.alt %>
<% image.filename = content.filename %>
<% video = Spina::Parts::Video.new %>
<% video.video_platform_option = content.video_platform_option %>
<% video.video_url = content.video_url %>

<article class="post">
  <section class="post__image">
  <% if content_type === "Video" %>
    <%= render partial: "default/pages/video", locals: {video: video } %>
  <% elsif content_type === "Image" %>
    <% if image && !image.filename.eql?("") %>
    <%= page.content.image_tag(image, {}, {class: "image", loading: "lazy"}) %>
    <% end %>
  <% end %>
  </section>
  <section class="richtext">
    <%= page.content.html(:text) %>
  </section>
</article>
