<% page = Spina::Resource.find_by(name: "blog_posts").pages.sample %>

<article class="post">
  <section class="post__image">
    <% if page.content(:image) %>
      <%= page.content.image_tag(:image, {}, {class: "image", loading: "lazy"}) %>
    <% end %>
    <% repeater(page.content(:videos)) do |repeater_content| %>
      <%= render partial: "default/pages/video", locals: {video: repeater_content } %>
    <% end %>
  </section>
  <section class="richtext">
    <%= page.content.html(:text) %>
  </section>
</article>
