<% image = page.content(:image) %>
<% video = video_from_page(page) %>

<article class="post">
  <section class="post__image">
    <% if image && !image.attributes["filename"].eql?("") %>
      <%= page.content.image_tag(:image, {}, {class: "image", loading: "lazy"}) %>
    <% else %>
      <% if video %>
        <%= render partial: "default/pages/video", locals: {video: video } %>
      <% else %>
        <div>Keinen Image oder Video-Content gefunden</div>
      <% end %>
    <% end %>
  </section>
  <section class="richtext">
    <%= page.content.html(:text) %>
  </section>
</article>
