<article class="project">
  <section class="project__section project__section--left">
    <% repeater(:images) do |repeater_content| %>
      <%= repeater_content.content.image_tag(:image, {resize_to_fill: [1000, 1000]}, {class: "image", loading: "lazy"}) %>
    <% end %>
    <% repeater(:videos) do |repeater_content| %>
      <%= render partial: "default/pages/video", locals: {video: repeater_content } %>
    <% end %>
  </section>
  <section class="richtext">
    <%= content.html(:text) %>
  </section>
</article>
