<article class="article">
  <section>
    <% repeater(:content_list) do |content_repeater| %>
      <% content = content_repeater.content(:content) %>
      <% content_type = content.content_type %>
      <% if content_type === "Video" %>
        <% video = Spina::Parts::Video.new %>
        <% video.video_platform_option = content.video_platform_option %>
        <% video.video_url = content.video_url %>
      <% elsif content_type === "Image" %>
        <% image = Spina::Parts::Image.new %>
        <% image.image_id = content.image_id %>
        <% image.signed_blob_id = content.signed_blob_id %>
        <% image.alt = content.alt %>
        <% image.filename = content.filename %>
      <% end %>

      <% if content_type === "Video" %>
        <%= render partial: "default/pages/video", locals: {video: video } %>
      <% elsif content_type === "Image" %>
        <% if image && !image.filename.eql?("") %>
        <%= page.content.image_tag(image, {}, {class: "image", loading: "lazy"}) %>
        <% end %>
      <% end %>
    <% end %>
  </section>
  <section class="richtext">
    <%= content.html(:text) %>
  </section>
</article>
