<article class="article">
  <section>
    <% images(:images) do |image| %>
      <%= content.image_tag(image, {}, {class: "image", loading: "lazy"}) %>
    <% end %>
    <% repeater(:videos) do |video_repeater_content| %>
      <% video = video_repeater_content.attributes["parts"].first %>
      <%= render partial: "default/pages/video", locals: {video: video } %>
    <% end %>
  </section>
  <section class="richtext">
    <%= content.html(:text) %>
  </section>
</article>
